# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# PyCharm project files
.idea/

# SQLite DB (optional – je nachdem ob du sie tracken willst)
*.sqlite3

# Jupyter Notebook checkpoints (falls du mal welche nutzt)
.ipynb_checkpoints

# macOS stuff
.DS_Store

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Test output
htmlcov/
coverage.xml
.cache/

# Others you might generate
*.swp

